<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On

    # Hatékonyabbá teszi az elérést, ha a kérés meglévő fájlra mutat
    RewriteCond %{REQUEST_FILENAME} !-f

    # Minden más kérést átirányítunk a Symfony belépési pontjára
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>