{{ include('frame/header.html.twig') }}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Success</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ include('frame/footer.html.twig') }}
{% endblock %}