{% extends 'base.html.twig' %}

{% block page_title %}
    <h1 class="text-center">Company statistics</h1>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Company Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Number of Reviews</th>
                        <th scope="col">Actions</th>
                    </tr>
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.company_name }}</td>
                            <td>{{ company.average|star_rating }}</td>
                            <td>{{ company.count }}</td>
                            <td>
                                <a href="/companies/{{ company.company_name }}/show" class="btn btn-primary">Show</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
